*{
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:black;
}

.blink_me {
  animation: blinker 3s linear infinite;
}

.blink_fast {
  animation: blinker .5s linear infinite;
}


@keyframes blinker {
  30% {
    opacity: 0;
  }
}

.back_button {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: .5s;
}

.room_one {
  -webkit-animation-duration: .3s;
  -webkit-animation-delay: 0s;
}
.room_two {
  -webkit-animation-duration: .3s;
  -webkit-animation-delay: .2s;
}
.room_three {
  -webkit-animation-duration: .3s;
  -webkit-animation-delay: .4s;
}
.room_four {
  -webkit-animation-duration: .3s;
  -webkit-animation-delay: .6s;
}
.room_five {
  -webkit-animation-duration: .3s;
  -webkit-animation-delay: .8s;
}
.gift_card {
  /* -webkit-animation-duration: .3s; */
  -webkit-animation-delay: 1s;
}
.meet_card {
  /* -webkit-animation-duration: .3s; */
  -webkit-animation-delay: 1.2s;
}
.submit_success {
  -webkit-animation-delay: .5s;
}

/* mobile menu */

.room_menu {
  -webkit-animation-delay: 0.0s;
}
.eat_menu {
  -webkit-animation-delay: 0.02s;
}
.amenities_menu {
  -webkit-animation-delay: 0.4s;
}
.group_menu {
  -webkit-animation-delay: 0.6s;
}
.event_menu {
  -webkit-animation-delay: 0.8s;
}
.discover_menu {
  -webkit-animation-delay: 1.0s;
}
.reservations_menu {
  -webkit-animation-delay: 1.2s;
}
